<launch>
    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen">
        <param name="video_device" value="/dev/video2" />
        <param name="image_width" value="640" />
        <param name="image_height" value="480" />
        <param name="pixel_format" value="yuyv" />
        <param name="camera_frame_id" value="usb_cam" />
        <param name="io_method" value="mmap"/>
        </node>

    <node name="emotion_gender_detector_node" pkg="emotion_gender_detector" type="perception_node.py" output="screen">
        <param name="image_topic" value="/usb_cam/image_raw" /> <param name="face_detector_backend" value="opencv" /> </node>

    <node name="rqt_debug_image_view" pkg="rqt_image_view" type="rqt_image_view" args="/debug_image" />

</launch>
